/* Search Input */
.search-engine .input-group {
  background-color: #fff !important;
  width: calc(100% - 16.5px);
  margin: 0 auto;
}

#ajaxsearchlite1 .probox,
.asl_w .probox {
  height: 50px !important;
  align-items: center !important;
}

#ajaxsearchlite1 .probox .proinput,
div.asl_w .probox .proinput {
  display: flex !important;
  align-items: center !important;
}

div.asl_w .probox .proloading,
div.asl_w .probox .proclose,
div.asl_w .probox .promagnifier,
div.asl_w .probox .prosettings {
  width: 40px !important;
  height: 40px !important;
}

/* Search Icon */
.asl_w .probox .promagnifier {
  width: 60px !important;
  height: 60px !important;
}

div.asl_w .probox .promagnifier .innericon svg {
  fill: #fff !important;
  width: 20px !important;
}

/* Search result */
#ajaxsearchliteres1 {
  height: 350px !important;
  margin-top: 8px !important;
}

.asl_r .results {
  height: 350px !important;
}

.asl_r .results .item .asl_content {
  color: #1f1f1f !important;
  font-weight: 400 !important;
  padding: 6px 8px !important;
  margin-bottom: 2px !important;
}

.asl_r .results .item .asl_content:hover {
  background-color: #edf4f7 !important;
}

.asl_r .results .item .asl_content h3,
div.asl_r .results .item .asl_content h3 a {
  color: #1f1f1f !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.asl_r .results .item .asl_content h3:hover,
div.asl_r .results .item .asl_content h3 a:hover {
  color: #1f1f1f !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

/* Banner */
.banner-section {
  height: 470px !important;
}

/* Guide page */
/* add specific class for that page */
.guide-height {
  height: 500px !important;
  background-color: #fff !important;
}

/* About us */
/* Add specific class (if necessary) */
.about-us-container p {
  margin-bottom: 0 !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}

/* Button */
.btn {
  color: #ffffff !important;
  width: 100% !important;
  max-width: 206px !important;
  height: 60px !important;
  background: #d71920 !important;
  border-radius: 4px !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  letter-spacing: 0.5px !important;
  border: 2px solid #d71920 !important;
}

/* ===================== Guide Page ===================== */
.guid-hero-container {
  background-color: #f5f5f5;
}

.guid-hero-container .container {
  height: 534px;
  /* background: #ffffff; */
  background: red;
  margin: 1rem auto;
  max-width: 798px;
  padding: 20px 24px 0 24px;
}

.guid-hero-container .first-row {
  height: 164px;
  background: #edf4f7;
  border-radius: 6px;
  padding: 10px;
}

.guid-hero-container .col-top {
  height: 24px;
}

.guid-hero-container .col-top h4 {
  font-weight: 700;
  font-size: 16px;
}
